*, *:before, *:after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* font-family: 'Lacquer', sans-serif;
font-family: 'Special Elite', cursive;
font-family: 'Bangers', cursive;
font-family: 'Eater', cursive;
font-family: 'Cinzel Decorative', cursive; */

:root {
  --bord-color: white;
  --word-color: rgb(170, 2, 2);
  --card-border: rgb(44, 44, 32);
  --btn-color: #948159;
}

header {
  height: 125px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 100px;
  color:  var(--word-color);
  font-family: 'Lacquer', sans-serif;
  margin-top: 10px;
  margin-bottom: 50px;
}

body{
  height: 100%;
  width: 100%;
  align-items: center;
  justify-items: center;
  background: url("imgs/battlefield3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

footer {
  border: 3px solid var(--card-border);
  background-color: rgb(133, 115, 76);
  justify-items: center;
  align-items: center;
}

footer p {
  color: var(--word-color);
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bold;
  padding: 0 10px;
}

#container {
  display: grid;
  height: 80vh;
  width: 100vw;
  grid-template-columns: 50px 50px 2fr 3fr 1fr 3fr 2fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  margin: 0 auto;
}

#round-winner {
  grid-area: 1 / 5;
  height: 150px;
  width: 350px;
  justify-self: center;
  align-self: center;
  text-align: center;
}
#round-winner p {
  margin: 10px;
  color: var(--word-color);
  font-family: 'Bangers', cursive;
  font-size: 30px;
}

#round-winner p:first-child {
  text-decoration: underline;
  color: var(--word-color);
  font-family: 'Eater', cursive;

}

.player-deck {
  border: 3px solid var(--card-border);
  border-radius: 15%;
  height: 85%;
  width: 90%;
  grid-area: 2 / 3;
  justify-self: center;
  align-self: center;
  background-image: url("imgs/humdeck2.jpg");
  background-position: center;
  background-size: cover;
}

.player-card {
  border: 3px solid var(--card-border);
  border-radius: 15%;
  grid-area:  2 / 4;
  height: 75%;
  width: 55%;
  justify-self: center;
  align-self: center;
  color: var(--word-color);
  border: 3px groove var(--btn-color);
  background-color: rgb(133, 115, 76);
}

.player-score {
  height: 100%;
  width: 100%;
  grid-area: 3 / 3;
  text-align: center;
  justify-self: center;
  align-self: center;
  color: var(--word-color);
}

.player-score p {
  margin: 5px;
  color: var(--word-color);
  font-size: 35px;
  font-weight: 800;
  font-family: 'Bangers', cursive;
}

.player-score p:first-child{
  text-decoration: underline;
  color: var(--word-color);
  font-family: 'Eater', cursive !important;
}

.computer-deck {
  border: 3px solid var(--card-border);
  border-radius: 15%;
  height: 85%;
  width: 90%;
  grid-area: 2 / 7;
  justify-self: center;
  align-self: center;
  background-image: url("imgs/gobdeck.jpg");
  background-position: center;
  background-size: cover;
}

.computer-card {
  border: 3px solid var(--card-border);
  border-radius: 15%;
  grid-area:  2 / 6;
  height: 75%;
  width: 55%;
  justify-self: center;
  align-self: center;
  color: var(--word-color);
  border: 3px groove var(--btn-color);
  background-color: rgb(133, 115, 76);
}

.computer-score {
  height: 100%;
  width: 100%;
  text-align: center;
  grid-area: 3 / 7;
  justify-self: center;
  align-self: center;
  color: var(--word-color);
  font-size: 35px;
  font-weight: 800;
}

.computer-score p {
  margin: 5px;
  color: var(--word-color);
  font-family: 'Bangers', cursive;
}
.computer-score p:first-child{
  text-decoration: underline;
  color: var(--word-color);
  font-family: 'Eater', cursive !important;
}

.play-button {
  grid-area: 2 / 5;
  justify-self: center;
  align-self: center;
  padding: 5px 10px;
  border: 3px groove var(--btn-color);
  border-radius: 15%;
  background-color: rgb(133, 115, 76);
  outline: none;
}

.play-button:active {
  background-color:  rgb(107, 92, 60);
  transform: translateY(4px);
}

.play-button p {
  font-size: 30px;
  font-weight: bold;
  color: var(--word-color);
  font-family: 'Lacquer', sans-serif;
}


.replay-button {
  grid-area: 3 / 5;
  justify-self: center;
  align-self: center;
  padding: 20px 40px;
  border: 3px groove var(--btn-color);
  border-radius: 15%;
  background-color: rgb(133, 115, 76);
  font-family: 'Eater', cursive;
  color: var(--word-color);
  outline: none;
}

.replay-button:active {
  background-color:  rgb(107, 92, 60);
  transform: translateY(4px);
}

.bgm-toggle {
  grid-area: 3 / 1;
  align-self: center;
  justify-self: center;
  height: 50px;
  width: 50px;
  border: 3px groove var(--btn-color);
  border-radius: 15%;
  background-color: rgb(133, 115, 76);
  color: var(--word-color);
  outline: none;
}

.bgm-toggle:active {
  background-color:  rgb(107, 92, 60);
  transform: translateY(4px);
}

/* .sfx-toggle {
  grid-area: 3 / 2;
  align-self: center;
  justify-self: center;
  height: 50px;
  width: 50px;
  background-image: url("imgs/speakerloud.png");
  background-position: center;
  background-size: cover;
  color: var(--word-color);
} */

.win-msg {
  grid-row: 2;
  grid-column-start: 4;
  grid-column-end: 7;
  height: 90%;
  width: 90%;
  align-self: center;
  justify-self: center;
}

.winLose {
  font-size: 105px;
  letter-spacing: 10px;
  color: var(--word-color);
  text-align: center;
  justify-self: center;
  align-self: center;
  z-index: 10;
  position: relative;
  font-family: 'Cinzel Decorative', cursive;
  padding-top: 20px;
}

.flip-horz {
  transform: scaleX(-1);
}