/* *, *:before, *:after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
} */

header {
  height: 200px;
  width: 35%;
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 100px;
}

body{
  height: 100%;
  width: 100%;
  align-items: center;
  justify-items: center;
}

#container {
  display: grid;
  height: 750%;
  width: 75%;
  grid-template-columns: 50px 50px 2fr 1fr 2fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  margin: 0 auto;
}

#round-winner {
  border: 2px solid black;
  grid-area: 1 / 4;
  height: 75px;
  width: 150px;
  justify-self: center;
  align-self: center;
  text-align: center;
}
#round-winner p {
  margin: 10px;
}
#round-winner p:first-child{
  text-decoration: underline;
}

.player-cards {
  border: 2px solid black;
  height: 100%;
  width: 50%;
  grid-area: 2 / 3;
  justify-self: center;
  align-self: center;
}

.player-score {
  border: 2px solid black;
  height: 60px;
  width: 100px;
  grid-area: 3 / 3;
  text-align: center;
  justify-self: center;
  align-self: center;
}

.player-score p {
  margin: 5px;
}
.player-score p:first-child{
  text-decoration: underline;
}

.computer-cards {
  border: 2px solid black;
  height: 100%;
  width: 50%;
  grid-area: 2 / 5;
  justify-self: center;
  align-self: center;
}

.computer-score {
  border: 2px solid black;
  height: 60px;
  width: 100px;
  text-align: center;
  grid-area: 3 / 5;
  justify-self: center;
  align-self: center;
}

.computer-score p {
  margin: 5px;
}
.computer-score p:first-child{
  text-decoration: underline;
}

.play-button {
  grid-area: 2 / 4;
  justify-self: center;
  align-self: center;
  padding: 20px 40px;
}

.reset-button {
  grid-area: 3 / 4;
  justify-self: center;
  align-self: center;
}

.bgm-toggle {
  grid-area: 3 / 1;
  align-self: center;
  justify-self: center;
}
    
.sfx-toggle {
  grid-area: 3 / 2;
  align-self: center;
  justify-self: center;
}